<h1> Test Group Index </h1>
<div class="testing">
  <% @groups.each do |g| %>
    <div><%= g.name %>
      <div>
      <% end %>
    </div>

    <div>
      <%= link_to "New Group", new_user_group_path(current_user.id), class: "btn" %>
