<h1> Test Group Index </h1>
<div class="testing">
  <% if user_signed_in? %>
    <% @groups.each do |g| %>
      <div><%= link_to g.name, user_group_path(current_user.id, g.id) %>
        <div>
        <% end %>
      </div>
        <%= link_to "New user Group", new_user_group_path(current_user.id), data:{turbo: false}, class: "btn" %>
    <% else %>
      <h1> logged out </h1>
      <div>
<% end %>