/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* --------- Root --------- */

:root {
  --main-color: #3778c2;
  --main-color-hover: #2b8eff;
  --secondary-color: #5fb523;
  --secondary-color-hover: #69d21d;
  --tertiary-color: #434b54;
  --tertiary-color-hover: #2c3136;
}

/* --------- Rooth --------- */

/* --------- Normalize --------- */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
  text-decoration: none;
}

body {
  overflow: hidden;
  /* stylelint-disable */
  height: 100dvh;
  /* stylelint-enable */
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #003169 0%, rgb(33 64 149) 83%);
}

/* --------- Normalize --------- */

/* --------- KeyFrames --------- */

@keyframes bouncing {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes notices {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* --------- KeyFrames --------- */

/* --------- Header --------- */

.shared-header-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  top: 0;
  z-index: 3;
}

.shared-header-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 80vw;
}

.shared-header-ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  list-style: none;
  padding: 1rem;
  justify-content: flex-end;
}

.shared-header-li a {
  font-size: 1.1rem;
  color: white;
}

.alerts,
.error-messages {
  position: absolute;
  width: 100vw;
  top: 4rem;
  z-index: 3;
  display: flex;
  text-align: center;
  justify-content: center;
  animation: notices 0.2s ease-in-out forwards, notices 2s ease-in-out 3s reverse forwards;
}

.alerts-text {
  background-color: #00000073;
  padding: 0.5rem;
  border-radius: 7px;
  color: white;
  user-select: none;
}

.error-messages {
  left: 0;
  background-color: rgba(0, 0, 0, 0.288);
  color: white;
}

.error-text {
  color: white;
}

/* --------- Header --------- */

/* --------- Wrapper --------- */

.wrapper {
  padding: 1rem;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* --------- Wrapper --------- */

/* --------- Footer --------- */

.shared-footer-cont {
  background-color: black;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shared-footer-cont p {
  color: white;
  text-align: center;
}

.user-icon {
  height: 1rem;
}

/* --------- Footer --------- */

/* --------- Forms --------- */

.new-user {
  width: 15rem;
  height: 15rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transform: scaleX(-1);
}

@keyframes fadeInForm {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

.form-cont {
  width: 100%;
  max-width: 80vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  background-position-y: -20rem;
  border-radius: 15px;
  box-shadow: 1px 20px 20px 1px rgba(0, 0, 0, 0.2), inset 0 0 20px 8px rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  transition: all 0.15s ease-in-out;
  transform-origin: center;
  flex-wrap: wrap;
  gap: 2rem 3rem;
  align-content: center;
  padding: 1rem;
}

.form-pictures-label {
  padding: 1rem 0.25rem;
}

.pictures-wrapper {
  height: 5.3rem;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.5rem;
  padding-top: 0.5rem;
  row-gap: 1rem;
  border-bottom: 2px solid #0066ff4a;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.pictures-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picture-checkbox {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 4.3rem;
  height: 4.3rem;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  transform: scale(1) translateY(2rem);
  opacity: 0;
  margin: -36px;
}

.profile-picture {
  height: 4.3rem;
}

.picture-checkbox:checked {
  transform: scale(1) translateY(2rem);
  background-color: rgb(26, 158, 43);
  border: 1px solid black;
  opacity: 0.3;
}

.new_user,
.edit_user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 25rem;
}

.form-title {
  font-family: proxima-nova, sans-serif;
}

.form-input {
  border: 0;
  padding: 0.25rem 0.25rem 0.2rem 0.25rem;
  width: 100%;
  height: 2rem;
  border-bottom: 1px solid var(--main-color-hover);
  outline: none;
  font-size: 1.2rem;
}

.form-submit {
  border-radius: 5px;
  background-color: var(--secondary-color);
  padding: 0.2rem;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  transition: all 0.15s ease-in-out;
  -webkit-appearance: none;
  appearance: none;
}

/* --------- Forms --------- */

/* --------- Responsive --------- */

@media (max-width: 500px) {
  body {
    background: none;
  }

  .wrapper {
    padding: 0;
    border-radius: 0;
  }

  .form-cont {
    max-width: 100vw;
    border-radius: 0;
    gap: 0;
  }

  .group-index-cont {
    border-radius: 0;
  }

  .group-index-cont::before {
    top: 0;
    border-radius: 0;
  }
}

/* --------- Responsive --------- */
